/**
 * ==========================================================================
 * #FLAG
 * ==========================================================================
 */

/* stylelint-disable */
/**
 * Usage
 **
  <div class="o-flag">
    <a href="#" class="o-flag__image">
      <img src="#" alt="alt-text" />
    </a>
    <div class="o-flag__body">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo maxime, repudiandae dolorem adipisci suscipit in nam quas fuga. Quia quo at modi tempora vero quisquam corporis velit nostrum delectus explicabo, architecto distinctio inventore sapiente libero, id aliquam fugiat repellendus laborum quibusdam, veritatis et. Temporibus magnam facere tempore et!</p>
    </div>
  </div>
 */
/* stylelint-enable */

.o-flag {
  display: table;
  width: auto;
  margin: 10px;
}

.o-flag__image,
.o-flag__body {
  display: table-cell;
  vertical-align: middle;

  .o-flag--top & {
    vertical-align: top;
  }

  .o-flag--bottom & {
    vertical-align: bottom;
  }
}

.o-flag__image {
  padding-right: 10px;

  > img {
    display: block;
  }

  .o-flag--rev & {
    padding-right: 0;
    padding-left: 10px;
  }
}

.o-flag__body {
  width: 100%;
}
